body {
  	background-color: black;
}

.main {
	
}

.map {
	width: 100%;
	height: 900px;
}

.mapSection {
	float: left;
	width: 70%;
	padding: 0 !important;
	margin: 10px;
}

.menuSection {
	float: right;
	position: relative;
	width: 28%;
	align-content: center;
	padding: 0 !important;
	margin: 10px;
	margin-rigt: 30px;
}

.menu {
	position: relative;
}

.menuTable {
	margin-left: 20px;
}

.button {
	width: 400px;
}
